@import '../../node_modules/leaflet/dist/leaflet.css';
@import '../../node_modules/leaflet-draw/dist/leaflet.draw.css';
@import '../../node_modules/@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css';
@import '../../node_modules/leaflet.defaultextent/dist/leaflet.defaultextent.css';

//.leaflet-draw-toolbar a {
//  background-image: url('/images/spritesheet.png') !important;
//  background-image: linear-gradient(transparent, transparent), url('/images/spritesheet.svg') !important;
//}

.leaflet-default-icon-path {
  background-image: url(/images/marker-icon.png) !important;
}

.leaflet-control-layers-toggle {
  background-image: url(/images/layers.png) !important;
  width: 36px;
  height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(/images/layers-2x.png) !important;
  background-size: 26px 26px;
}

//.leaflet-control-defaultextent-toggle {
//  background-image: url('/images/leaflet.defaultextent.png');
//}

.text-labels {
  font-size: 12px;
  font-weight: 700;
  color: #f8d635;
  text-shadow: 0 0 3px black, 0 0 5px black;
  //width: 160px !important;
  //height: 20px !important;
  //margin-left: -105px !important;
  //margin-top: -10px !important;
  //line-height: 20px !important;
  //background-color: rgba(0, 0, 0, 0.6);
  //border-radius: 6px;
  //text-align: center;
}

.custom-controls {
  opacity: 0.9;
  width: 205px !important;
}
